body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}
.nav-link {
  color: black;
  transition: all 0.3s;
}
ul li {
  list-style: none;
}
.nav-link:hover,
.nav-link:active,
.nav-item .active,
.nav-link:focus {
  color: white !important;
}
nav {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #25282b !important;
}
img {
  max-width: 100%;
  height: auto;
}
.margin-6 {
  margin-bottom: -8px;
}
.active-shelf {
  border-bottom: 3px solid rgb(255, 153, 0);
}
ul li {
  cursor: pointer;
}
